@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 2em;
    font-family: 'poppins';
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/bgblack.jpg");
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introload 2s forwards;
    overflow: hidden;
}

.navbar {
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    ul {
        list-style-type: none;
    }
    a {
        float: right;
        display: block;
        color: rgb(1, 216, 249);
        text-align: right;
        padding: 15px 18px;
        text-decoration: none;
        font-size: 18px;
    }
    a:hover {
        font-weight: bolder;
        color: rgb(1, 216, 249);
        border-radius: 0.8em;
    }
    .container {
        padding: 18px;
        margin-top: 5px;
        height: 20px;
    }
}

.logo {
    width: 5em;
}

.hero {
    color: white;
    margin-top: 5em;
    font-size: 2em;
}

.subhead {
    font-size: 0.7em;
}

.founder-cta {
    margin-top: 20em;
}

.founder-ass {
    margin-top: 19em;
    margin-left: 5em;
    margin-bottom: 2em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .content {
        font-size: 15px;
    }
    h3 {
        color: orange;
        font-size: 25px;
    }
}

.founder-cta {
    color: orange;
}

.founder-cta-img {
    width: 20em
}

.rescue-cta {
    float: right;
    color: black;
}

.description-cta {
    background-color: orange;
    border-radius: 1em;
    blockquote {
        cite {
            text-align: center;
            color: white;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 5em;
            padding: 2em;
        }
    }
    img {
        margin-left: 43%;
        height: 5em;
        width: 5em;
        border-radius: 50%;
        margin-top: -2em;
    }
}

footer {
    .footer-cta {
        background-color: black;
        color: #ffffff;
        padding: 1em;
    }
    .foot-cta {
        display: absolute;
        margin-left: 10em;
        width: 10%;
        height: 5%
    }
}

.ani {
    font-size: 1.3em;
    color: orange;
    font-weight: bold;
    display: inline-block;
    margin-left: 4%;
    .nino {
        color: black;
    }
}

.logo-cta {
    width: 2em;
}

.contact-us {
    border-width: 10px;
    border-style: solid;
    border-color: orange;
    border-radius: 20px;
    padding: 10px;
    h3 {
        color: green;
    }
    h4 {
        color: orange;
        font-size: 2em;
    }
}

.address-cta {
    border-width: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;
    padding: 10px;
    h3 {
        color: green;
    }
}

.upfooter-cta {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
}

.subscribe-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-width: 650px;
    background: #ffff;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    padding: 50px 40px 40px;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 2px 2px 2pxrgba(0, 0, 0, 0.05);
}

.subscribe-form .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 18px;
    color: #555;
    border: none;
    background: transparent;
    cursor: pointer;
}

.subscribe-form.left {
    display: flex;
    align-items: center;
}

.subscribe-form .right h2 {
    font-size: 28px;
    line-height: 1.15;
    margin-bottom: 10px;
    color: #111;
}

.subscribe-form .right p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.subscribe-form .right .form label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.subscribe-form .right .form input {
    margin-bottom: 10px;
}

.subscribe-form .right .form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 15px;
    border-radius: 5px;
}

.subscribe-form .right .form button {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #8064d1;
    color: #fff;
    box-shadow: 0px 2px 2px #ddd;
}